.container-fluid {
    margin-top: 40px;
}

.main {
     background: #f1f1f1;
 }

.nav-row-section {
    clear: both;
    width: 100%;
    background: #fff;
    font-weight: bold;
    color:#cecece;
}

.nav-add-button {
    background: #cecece;
}

.nav-add-button a {
    padding: 1px 3px;
}

.left-nav,
.right-nav {
    background: #f1f1f1;
}

.col.left-nav {
    padding-right: 0;
    background: #fff;
}

.left-nav .navbar.navbar-default {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

.left-nav nav {
    margin: 0;
    width: 100%;
    padding: 0;
}

.left-nav ul {
    width: 100%;
}

.left-nav li {
    padding: 0 0 3px 0;
    border-bottom: 1px solid #fff;
}

.left-nav li.nav-item .nav-link {
    padding: 0;
    margin-left: 18px;
}

.right-nav {
	display: none;
    background: #fff;
}


.widgetInventory h5 {
	margin: 0 -15px;
    border-bottom: 5px solid #f1f1f1;
    padding: 11px 15px 8px 15px;
    background: white;
}


.widget {
    padding: 0;
    margin: 10px;
    background: #fff;
    min-width: 50px;
    max-height: 200px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #888888;
    box-shadow: 3px 3px #888888;
}


.col-5.widget {
    padding: 0;
}

.widget:hover {
    border: 1px dashed #0f3458;
    opacity: 0.5;
}

.widget figure {
    display: block;
    margin: 0;
    height: 100px;
    background: #d8f1f1;
}

.widget figcaption {
    display: block;
    background: url(/assets/images/quick-test-icons.png) no-repeat center center;
    height: 40px;
}

.mw-toolbar {
	clear: both;
    display: block;
    width: 100%;
    margin: 15px 0 15px 0;
    text-align: right;
}

.widget-search {
	min-width: 240px;
	margin-top: 5px;
	background: #f1f1f1;
	margin: 0 -15px 0 -15px;
    border-bottom: 5px solid #f1f1f1;
    padding: 11px 15px 0 15px;
}

.widget-search span { 
	position: relative;
    bottom: -4px;
    left: -15px;
    border-bottom: 2px solid #68b1f1;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 15px;
    margin-bottom: 0;
    width: 94px;

}

.widget-search input[id=search] {
	height: 25px;
	width: 125px;
}

.container-drag .btn-primary {
	border-radius: 0;
    background: #68b1f1;
    border: 0;
}

.droptarget {
    width: 100%;
	clear: both;
	padding: 15px;
    min-height:550px;
    margin-bottom: 15px;
}

.droptarget:hover {
    background: #fff;
    border: 5px dashed #0f345826;
    padding: 4px;;
}

@media (min-width: 1140px) {
	.right-nav {
		display: block;
	}
}


/* test */
.wip {
    width:100px;
    height:200px;
    border: 1px solid black;
}



.test-colour {
	background: orange;
}