header {
  @media (max-width: 600px) {
    margin-bottom: 35px;
  }

  .navbar {
    height: 20px;
    margin-bottom: 0;
  }

  .nav-top {
    height: 57px;
    position: fixed;
    background: #fff;
  }

  .profile-bar {
    position: absolute;
    right: 0;
    li {
      display: inline-block;
      .notifications {
        display: inline-block;
        text-align: center;
        top: -32px;
        right: -8px;
        font-size: 0.6rem;
        font-weight: bold;
        color: #fff;
        padding: 0px 2px 2px 2px;
        position: relative;
        height: 13px;
        min-width: 13px;
        background: #ff0a0a;
      }
      &.messages:before {
        display: inline-block;
        content: "|";
        color: #425676;
        width: 1px;
        height: 35px;
        position: absolute;
        left: -9px;
        top: 9px;
      }
      &.messages,
      &.alerts {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        margin-right: 12px;
      }
      &.avatar {
        width: 45px;
        height: 45px;
        border: 1px solid #a5a5a5;
        background: #fff;
        margin: 0 5px 0 0;
        border-radius: 50%;
        overflow: hidden;
        img {
          position: relative;
          top: -10px;
          left: -10px;
          max-width: 50px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .nav-item {
      font-size: 1.2em;
      font-weight: normal;
    }
  }

  @media (max-width: 600px) {
    .navbar-nav {
      margin-top: 28px;
      li {
        margin: 4px 0;
      }
    }
  }

  @media (max-width: 767px) {
    nav {
      &.border-effect {
        border-bottom: 8px solid #a2cefb;
      }
    }
  }

  button[type="submit"] {
    padding: 4px 6px 6px 6px;
    height: 29px;
    border-color: #79aad9;
    color: #79aad9;
    font-size: 0.8em;
  }
  a {
    &.navbar-brand {
      span {
        &.logo {
          display: inline-block;
          height: 43px;
          width: 59px;
          font-size: 1em;
          text-transform: uppercase;
          letter-spacing: .2em;
          margin: 1px 0 -1px;
          border-bottom: 1px solid #fff;
          padding: 0;
          background: url(/assets/images/markwebley_400x400.png) center -2px no-repeat #FFF;
          background-size: 84%;
        }
        &.page {
          display: inline-block;
          font-size: 1rem;
          text-transform: capitalize;
          padding: 0;
          position: relative;
          left: 6px;
          top: -12px;
        }
      }
    }
  }
}