@import "~normalize.scss/normalize";
@import "~bootstrap/scss/bootstrap";

@import '../node_modules/font-awesome/scss/_variables.scss';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// bootstrap navigation bar
.bg-dark {
    background-color: #103458 !important;
}

p {
    font-size: 0.85em;
    color: #7193c9;
}

a {
    color: #425676;
}